<div style="padding: 20px">
  <p><b>CEO:</b> {{ stock.data.company.CEO }}</p>
  <p>
    <b>Headquarters:</b> {{ stock.data.company.address }}, {{ stock.data.company.city }},
    {{ stock.data.company.state }},
    {{ stock.data.company.country }}
  </p>
  <p><b>Employees:</b> {{ stock.data.company.employees?.toLocaleString() }}</p>
  <p><b>Industry:</b> {{ stock.data.company.industry }}</p>
  <p><b>Sector:</b> {{ stock.data.company.sector }}</p>
  <br />
  <p>{{ stock.data.company.description }}</p>
</div>
