<app-auth-form-container>
  <mat-spinner *ngIf="isLoading; else notLoading" style="margin: 0 auto"></mat-spinner>
  <ng-template #notLoading>
    <form [formGroup]="form" (submit)="submitForm()">
      <h2 style="text-align: center;">Reset your Password</h2>
      <mat-form-field appearance="outline">
        <input formControlName="password" type="password" matInput placeholder="Password" (input)="onPasswordInput()" />
        <!-- <mat-hint></mat-hint> -->
        <mat-error *ngIf="!password.valid && password.touched">
          {{ getErrorPassword() }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input
          formControlName="passwordReenter"
          type="password"
          matInput
          placeholder="Re-enter Password"
          (input)="onPasswordInput()"
        />
        <mat-error *ngIf="passwordReenter.invalid">{{ getErrorPasswordReenter() }}</mat-error>
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid">{{ buttonLabel }}</button>
    </form>
  </ng-template>
</app-auth-form-container>
