<form [formGroup]="form" (submit)="submitForm()">
  <mat-form-field appearance="outline" class="form-element">
    <input formControlName="password" type="password" matInput placeholder="New Password" (input)="onPasswordInput()" />
    <mat-error *ngIf="!password.valid && password.touched">
      {{ getErrorPassword() }}
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="form-element">
    <input
      formControlName="passwordReenter"
      type="password"
      matInput
      placeholder="Confirm new password"
      (input)="onPasswordInput()"
    />
    <mat-error *ngIf="passwordReenter.invalid">{{ getErrorPasswordReenter() }}</mat-error>
  </mat-form-field>
  <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid">Change Password</button>
</form>
