<app-auth-form-container>
  <form [formGroup]="form" (submit)="submitForm()" *ngIf="!emailSent; else email_sent">
    <p><b>Enter the email address associated with your ratemystocks.com account. You will receive an email with instructions to reset your password.</b></p>
    <mat-form-field appearance="outline">
      <input formControlName="email" type="email" matInput placeholder="Email" />
      <mat-error *ngIf="!form.controls['email'].valid && form.controls['email'].touched">
        {{ getErrorEmail() }}
      </mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid">{{ buttonLabel }}</button>
  </form>
  <ng-template #email_sent>
    <h2>Please check your email</h2>
    An email with instructions to create your password has been sent to <b>{{ email.value }}</b>. You may need to wait a few minutes to receive the email, or check your spam or junk folders.
  </ng-template>
</app-auth-form-container>
