<app-auth-form-container>
  <form [formGroup]="form" (submit)="submitForm()">
    <mat-form-field appearance="outline">
      <input formControlName="email" type="email" matInput placeholder="Email" />
      <mat-error *ngIf="!form.controls['email'].valid && form.controls['email'].touched">
        {{ getErrorEmail() }}
      </mat-error>
    </mat-form-field>
    <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid">{{ buttonLabel }}</button>
  </form>
</app-auth-form-container>
