<p-table [value]="portfolios" [lazy]="true" (onLazyLoad)="loadPortfolios($event)" responsiveLayout="scroll"
    [paginator]="true" [rows]="10" [totalRecords]="totalRecords" [loading]="loading" [globalFilterFields]="['name','country.name', 'company', 'representative.name']">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
        <button pButton type="button" (click)="confirmLogin($event)" label="New" class="p-button-success" icon="pi pi-plus" iconPos="right"></button>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Global Search"/>
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name">Portfolio Name <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="username">Creator <p-sortIcon field="username"></p-sortIcon></th>
            <th pSortableColumn="num_likes">Likes <p-sortIcon field="num_likes"></p-sortIcon></th>
            <th pSortableColumn="num_likes">Dislikes <p-sortIcon field="num_dislikes"></p-sortIcon></th>
            <th pSortableColumn="num_holdings"># of Holdings <p-sortIcon field="num_holdings"></p-sortIcon></th>
            <th pSortableColumn="largest_holdings">Largest Holding <p-sortIcon field="largest_holdings"></p-sortIcon></th>
            <th pSortableColumn="last_updated">Last Updated <p-sortIcon field="last_updated"></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-portfolio>
        <tr>
            <td>
              <a routerLink="/portfolios/{{ portfolio.id }}">
                {{portfolio.name}}
              </a>
            </td>
            <td>
              <div class="centered-content">
                <img src="../../../../../assets/layout/images/avatars/{{portfolio.spirit_animal}}.png" class="profile-picture" />
                <a routerLink="/profile/users/{{ portfolio.username}}">{{ portfolio.username }}</a>
              </div>
            </td>
            <td>{{portfolio.num_likes}}</td>
            <td>{{portfolio.num_dislikes}}</td>
            <td>{{portfolio.num_holdings}}</td>
            <td>
              <div class="centered-content">
                <img
                  *ngIf="portfolio.largest_holding"
                  class="stock-logo"
                  src="https://storage.googleapis.com/iex/api/logos/{{ portfolio.largest_holding }}.png"
                />
                <a routerLink="/stocks/{{ portfolio.largest_holding }}">{{ portfolio.largest_holding }}</a>
              </div>
            </td>
            <td><small>{{ portfolio.last_updated | momentFromNowDatePipe }}</small></td>
        </tr>
    </ng-template>
</p-table>

<p-confirmPopup></p-confirmPopup>

<p-dialog header="Create Portfolio" [(visible)]="displayCreatePortfolioDialog" [modal]="true" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"  [style]="{width: '30vw', height: '100%'}" [draggable]="false" [resizable]="false">
  <form [formGroup]="portfolioForm" (ngSubmit)="onSubmit()">
    <div class="p-fluid">
      <div class="p-field">
        <label for="portfolio-name-field">Name*</label>
        <input placeholder="Enter a name for your portfolio" formControlName="name" id="portfolio-name-field" pInputText [ngClass]="{'ng-invalid': name.invalid, 'ng-dirty': name.touched}" required />
        <small *ngIf="name.invalid && name.touched" class="p-invalid">This field is required.</small>
      </div>
      <div class="p-field">
        <label for="portfolio-description-field">Description</label>
        <textarea
          formControlName="description"
          placeholder="Write a description for your portfolio"
          maxlength="500"
          id="portfolio-description-field"
          pInputText
          [ngClass]="{'ng-invalid': description.invalid, 'ng-dirty': description.touched}"
        ></textarea>
        <small *ngIf="description.invalid && description.touched" class="p-invalid">This field is required.</small>
      </div>
      <div class="p-field">
        <label for="holdings">Holdings</label>
        <div class="search-input-wrapper">
          <span class="p-input-icon-left">
            <!-- <i class="pi pi-search"></i> -->
            <p-autoComplete [(ngModel)]="selectedStocks" [ngModelOptions]="{standalone: true}" [multiple]="true" [forceSelection]="true" [suggestions]="filteredStocks"
              (completeMethod)="searchStocks($event)" (onSelect)="onSelectStock($event)" (onUnselect)="onRemoveStock($event)" field="symbol" placeholder="Search stocks">
              <ng-template let-stock pTemplate="item">
                <div style="display: flex; align-items: center;">
                  <img
                    class="stock-logo p-mr-2"
                    src="https://storage.googleapis.com/iex/api/logos/{{ stock.symbol }}.png"
                    onerror="this.onerror=null; this.src=''"
                    style="width:24px;height: auto;"
                  />
                  <small>
                    <b>{{stock.symbol}}</b>
                  </small>
                  |
                  <small>
                    {{ stock.securityName }}
                  </small>
                </div>
              </ng-template>
            </p-autoComplete>

            <br>
            <br>

            <div formArrayName="holdings">
              <p-table [value]="portfolioStocks" dataKey="id" styleClass="p-datatable-sm" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Ticker</th>
                        <th>Weighting</th>
                        <th style="width:8rem"></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-stock>
                    <tr>
                      <td><b>{{stock.ticker}}</b></td>
                      <td pEditableColumn>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText  type="number" [ngModelOptions]="{standalone: true}" [(ngModel)]="stock.weighting" step="0.01" ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{stock.weighting.toFixed(2)}}%
                            </ng-template>
                        </p-cellEditor>
                      </td>
                      <td style="text-align:center">
                        <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-text p-button-danger" (click)="onRemoveStock(stock)"></button>
                        <!-- <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check"" (click)="onRowEditSave(product)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                        <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(product, ri)" class="p-button-rounded p-button-text p-button-danger"></button> -->
                      </td>
                    </tr>
                </ng-template>
                <!-- TODO: Replace getTotalWeighting function call with a pipe -->
                <ng-template pTemplate="summary">
                  <div class="flex align-items-center justify-content-between" [ngClass]="{
                    'invalid-total-weighting': getTotalWeighting() !== 100 && portfolioStocks.length > 0,
                    'valid-total-weighting': getTotalWeighting() === 100
                  }">
                      Total Weighting: {{ getTotalWeighting().toFixed(2) }}%
                  </div>
                </ng-template>
              </p-table>
            </div>
          </span>
        </div>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <p-messages [(value)]="msgs"></p-messages>
    <p-button label="Create" class="p-button-text" (click)="onSubmit()" [disabled]="portfolioForm.invalid"></p-button>
  </ng-template>
</p-dialog>
