<!-- TODO: Get this to show social media icons -->
<div id="layout-config" class="layout-config" [ngClass]="{'layout-config-active': false}">
    <a style="cursor: pointer" id="layout-config-button" class="layout-config-button">
        <i class="pi pi-check"></i>
    </a>
</div>

<div class="layout-dashboard" *ngIf="stock; else stockNotLoaded">
    <div class="p-grid">
        <div class="p-col-12 p-md-12 p-xl-9">
            <div class="p-grid">
                <div class="p-col-12 p-md-12 p-xl-4">
                    <div class="card overview-box-1 blue">
                        <div class="card-header">
                            <h6>{{ stock.data.stats.companyName }} | {{ stock.data.company.exchange }}</h6>
                            <div class="header-buttons">
                                <!-- <a href="#"><i class="pi pi-star-o"></i></a> -->
                            </div>
                        </div>
                        <div class="overview-content">
                            <h3 style="display: flex; align-items: center;">
                              <img
                                class="stock-logo p-mr-4"
                                src="https://storage.googleapis.com/iex/api/logos/{{ ticker }}.png"
                                onerror="this.onerror=null; this.src=''"
                                style="width:40px;height: auto;"
                              />
                              <b>{{ ticker }}</b>
                            </h3>
                            <div>
                              <h4 [ngStyle]="{ color: stock.data.quote.change >= 0 ? '#3ac961' : 'red' }">
                                ${{ stock.data.quote.latestPrice?.toLocaleString(undefined, {minimumFractionDigits: 2}) }}
                              </h4>
                          </div>
                        </div>
                        <div class="overview-footer">
                            <!-- <span><i class="pi pi-arrow-up"></i> <span>55%</span> increase in today sales</span> -->
                            <small [ngStyle]="{ color: stock.data.quote.change >= 0 ? '#3ac961' : 'red' }"
                              ><span *ngIf="stock.data.quote.change >= 0">+</span>{{ stock.data.quote.change }} ({{
                                (stock.data.quote.changePercent * 100)?.toFixed(2)
                              }}%)</small
                            >
                        </div>
                    </div>
                </div>
                <div class="p-col-12 p-md-12 p-xl-4">
                    <div class="card overview-box-1 teal">
                        <div class="card-header">
                            <h6>Followers</h6>
                            <div class="header-buttons">
                              <a href="#"><i class="pi pi-star-o"></i></a>
                            </div>
                        </div>
                        <div class="overview-content">
                            <!-- <h3>{{followers}}</h3> -->
                            <h3>3.5k</h3>
                            <div class="overview-graph">
                                <span style="height: 30px;"><span class="graph-tooltip">30</span></span>
                                <span style="height: 43px;"><span class="graph-tooltip">43</span></span>
                                <span style="height: 48px;"><span class="graph-tooltip">48</span></span>
                                <span style="height: 40px;"><span class="graph-tooltip">40</span></span>
                                <span style="height: 52px;"><span class="graph-tooltip">52</span></span>
                                <span style="height: 18px;"><span class="graph-tooltip">18</span></span>
                            </div>
                        </div>
                        <div class="overview-footer down">
                            <span><i class="pi pi-arrow-down"></i> <span>12%</span> decrease in followers today.</span>
                        </div>
                    </div>
                </div>
                <div class="p-col-12 p-md-12 p-xl-4">
                    <div class="card  overview-box-1 orange">
                        <div class="card-header">
                            <h6>Visitors</h6>
                            <div class="header-buttons">
                                <!-- <a href="#"><i class="pi pi-arrow-up"></i></a> -->
                            </div>
                        </div>
                        <div class="overview-content">
                            <!-- <h3>{{ visitors }}</h3> -->
                            <h3>1.2m</h3>
                            <div class="overview-graph">
                                <span style="height: 20px;"><span class="graph-tooltip">20</span></span>
                                <span style="height: 23px;"><span class="graph-tooltip">23</span></span>
                                <span style="height: 52px;"><span class="graph-tooltip">52</span></span>
                                <span style="height: 18px;"><span class="graph-tooltip">18</span></span>
                                <span style="height: 28px;"><span class="graph-tooltip">28</span></span>
                                <span style="height: 42px;"><span class="graph-tooltip">42</span></span>
                            </div>
                        </div>
                        <div class="overview-footer">
                            <!-- <span><i class="pi pi-arrow-up"></i> <span>6%</span> increase in today sales</span> -->
                            <span><i class="pi pi-arrow-down"></i> <span>12%</span> decrease in visitors today.</span>
                        </div>
                    </div>
                </div>
                <div class="p-col-12">
                    <div class="card sale-graph">
                        <div class="card-header">
                            <h6>Performance</h6>
                        </div>
                        <div class="overview-chart">
                            <app-stock-performance-chart [ticker]="ticker"></app-stock-performance-chart>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="p-col-12 p-md-12 p-xl-3">
            <div class="p-grid">
                <div class="p-col-12 p-md-6 p-xl-12">
                    <div class="card traffic">
                        <div class="card-header">
                            <h6>User Ratings</h6>
                        </div>
                        <!-- <span>26 May - 27 May</span> -->
                        <div class="traffic-chart">
                            <p-chart #traffic type="doughnut" [data]="trafficChart" [options]="trafficOptions" [responsive]="true" width="210px" height="210px"></p-chart>
                        </div>
                        <div id="traffic-tabs-container" class="traffic-tabs">
                            <div class="traffic-tab" [ngClass]="{'traffic-tab-active':activeTraffic===0}"
                                 (click)="toggleStockRating($event, 'buy'); traffic.refresh()"
                                 data-label="New Sales" data-index="0"  >
                                <h6>50%</h6>
                                <!-- <i class="pi pi-facebook"></i> -->
                                <!-- <h6>Buy <span style="color: #3ac961; font-size: 32px;">&#8226;</span></h6> -->
                                <h6 style="text-decoration: 2px underline #3ac961; text-underline-offset: 4px;">Buy</h6>
                                <!-- <h6 style="font-size: small;">(124 ratings)</h6> -->
                            </div>
                            <div class="traffic-tab " [ngClass]="{'traffic-tab-active':activeTraffic===1}"
                                 (click)="toggleStockRating($event, 'hold'); traffic.refresh()"
                                 data-label="Previous Sales" data-index="1">
                                <h6>25%</h6>
                                <h6 style="text-decoration: 2px underline #c98b3a; text-underline-offset: 4px;">Hold</h6>
                            </div>
                            <div class="traffic-tab " [ngClass]="{'traffic-tab-active':activeTraffic===2}"
                                 (click)="toggleStockRating($event, 'sell'); traffic.refresh()"
                                 data-label="Previous Sales" data-index="2">
                                <h6>25%</h6>
                                <!-- <i class="pi pi-github"></i> -->
                                <h6 style="text-decoration: 2px underline red; text-underline-offset: 4px;">Sell</h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="p-col-12 p-md-6 p-xl-12">
                    <div class="card">
                        <div class="card-header">
                            <h6>Company Info</h6>
                        </div>
                        <div class="p-mb-2"><small><b>CEO:</b> {{ stock.data.company.CEO }}</small></div>
                        <div class="p-mb-2">
                          <small>
                            <b>Headquarters:</b> {{ stock.data.company.address }}, {{ stock.data.company.city }},
                            {{ stock.data.company.state }},
                            {{ stock.data.company.country }}
                          </small>
                        </div>
                        <div class="p-mb-2"><small><b>Employees:</b> {{ stock.data.company.employees?.toLocaleString() }}</small></div>
                        <div class="p-mb-2"><small><b>Industry:</b> {{ stock.data.company.industry }}</small></div>
                        <div class="p-mb-2"><small><b>Sector:</b> {{ stock.data.company.sector }}</small></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- TODO: Apply Shorten Pipe or set a max-height and make scrollable -->
        <div class="p-col-12 p-md-6 p-xl-4">
          <div class="card sellers">
              <div class="card-header">
                  <h6>About</h6>
              </div>
              <p>{{ stock.data.company?.description }}</p>
          </div>
        </div>

        <div class="p-col-12 p-md-6 p-xl-4">
            <div class="card leaderboard">
                <div class="card-header">
                    <h6>Stats</h6>
                </div>
                <div class="p-grid">
                  <div class="p-col-6">
                    <div class="p-mb-2"><small><b>Open:</b> ${{ stock.data.quote.open?.toFixed(2) }}</small></div>
                    <div class="p-mb-2"><small><b>Close:</b> ${{ stock.data.quote.close?.toFixed(2) }}</small></div>
                    <div class="p-mb-2"><small><b>Today's High:</b> ${{ stock.data.quote.high }}</small></div>
                    <div class="p-mb-2"><small><b>Today's Low:</b> ${{ stock.data.quote.low }}</small></div>
                    <div class="p-mb-2"><small><b>52 Week High:</b> ${{ stock.data.stats.week52high}}</small></div>
                    <div class="p-mb-2"><small><b>52 Week Low:</b> ${{ stock.data.stats.week52low}}</small></div>
                    <div class="p-mb-2"><small><b>YTD Change %:</b> {{ (stock.data.stats.ytdChangePercent * 100).toFixed(2) }}%</small></div>
                    <div class="p-mb-2"><small><b>1-month Change %: </b> {{ (stock.data.stats.month1ChangePercent * 100).toFixed(2) }}%</small></div>
                    <div class="p-mb-2"><small><b>3-month Change %3 </b> {{ (stock.data.stats.month3ChangePercent * 100).toFixed(2) }}%</small></div>
                    <div class="p-mb-2"><small><b>6-month Change %3 </b> {{ (stock.data.stats.month6ChangePercent * 100).toFixed(2) }}%</small></div>
                    <div class="p-mb-2"><small><b>1-year Change %3 </b> {{ (stock.data.stats.year1ChangePercent * 100).toFixed(2) }}%</small></div>
                    <div class="p-mb-2"><small><b>5-year Change %3 </b> {{ (stock.data.stats.year5ChangePercent * 100).toFixed(2) }}%</small></div>
                  </div>
                  <div class="p-col-6">
                    <div class="p-mb-2"><small><b>Volume:</b> {{ stock.data.quote.volume?.toLocaleString() }}</small></div>
                    <div class="p-mb-2"><small><b>Avg. Total Volume:</b> {{ stock.data.quote.avgTotalVolume?.toLocaleString() }}</small></div>
                    <div class="p-mb-2"><small><b>Market Cap:</b> {{ MoneyFormatter.formatCash(stock.data.stats.marketcap) }}</small></div>
                    <div class="p-mb-2"><small><b>P/E Ratio:</b> {{ stock.data.stats.peRatio.toFixed(2) }}</small></div>
                    <div class="p-mb-2"><small><b>Beta:</b> {{ stock.data.stats.beta.toFixed(2) }}</small></div>
                    <div class="p-mb-2"><small><b>Dividend Yield:</b> {{ (stock.data.stats.dividendYield * 100).toFixed(2) }}</small></div>
                  </div>
                </div>
            </div>
        </div>

        <div class="p-col-12 p-md-6 p-xl-4">
            <div class="card product-list">
                <div class="card-header">
                    <h6>News</h6>
                </div>
                <ul>
                    <li>
                        <div class="product">
                            <img src="assets/layout/images/dashboard/image-product-1.png" alt="poseidon-layout" />
                            <div class="product-info">
                                <p>News 1</p>
                                <small>3 hours ago</small>
                            </div>

                        </div>
                        <!-- <i class="pi pi-arrow-up"></i> -->
                    </li>
                    <li>
                        <div class="product">
                            <img src="assets/layout/images/dashboard/image-product-2.png" alt="poseidon-layout" />
                            <div class="product-info">
                                <p>News 2</p>
                                <small>4 hours ago</small>
                            </div>

                        </div>
                        <!-- <i class="pi pi-arrow-up"></i> -->
                    </li>
                    <li>
                        <div class="product">
                            <img src="assets/layout/images/dashboard/image-product-3.png" alt="poseidon-layout" />
                            <div class="product-info">
                                <p>News 3</p>
                                <small>5 hours ago</small>
                            </div>

                        </div>
                        <!-- <i class="pi pi-arrow-up"></i> -->
                    </li>
                    <li>
                        <div class="product">
                            <img src="assets/layout/images/dashboard/image-product-4.png" alt="poseidon-layout" />
                            <div class="product-info">
                                <p>News 4</p>
                                <small>1 day ago</small>
                            </div>

                        </div>
                        <!-- <i class="pi pi-arrow-down down"></i> -->
                    </li>
                    <li>
                        <div class="product">
                            <img src="assets/layout/images/dashboard/image-product-5.png" alt="poseidon-layout" />
                            <div class="product-info">
                                <p>News 5</p>
                                <small>2 days ago</small>
                            </div>

                        </div>
                        <!-- <i class="pi pi-arrow-up"></i> -->
                    </li>
                </ul>
            </div>
        </div>

        <div class="p-col-12 p-md-6 p-xl-4">
            <!-- <div class="card tasks">
                <div class="card-header">
                    <h6>Tasks</h6>
                </div>
                <div>
                    <div class="task task-1">
                        <div class="task-info">
                            <div class="task-name"><span>12</span> Orders to fulfill</div>
                            <i class="pi pi-tag"></i>
                        </div>
                        <div class="task-progress">
                            <div></div>
                        </div>
                    </div>
                    <div class="task task-2">
                        <div class="task-info">
                            <div class="task-name"><span>40+</span> Payments to withdraw</div>
                            <i class="pi pi-money-bill"></i>
                        </div>
                        <div class="task-progress">
                            <div></div>
                        </div>
                    </div>
                    <div class="task task-3">
                        <div class="task-info">
                            <div class="task-name"><span>4</span> Reports to revise</div>
                            <i class="pi pi-file"></i>
                        </div>
                        <div class="task-progress">
                            <div></div>
                        </div>
                    </div>
                    <div class="task task-4">
                        <div class="task-info">
                            <div class="task-name"><span>6</span> Questions to respond</div>
                            <i class="pi pi-comment"></i>
                        </div>
                        <div class="task-progress">
                            <div></div>
                        </div>
                    </div>
                    <div class="task task-5">
                        <div class="task-info">
                            <div class="task-name"><span>2</span> Chargebacks to review</div>
                            <i class="pi pi-check-square"></i>
                        </div>
                        <div class="task-progress">
                            <div></div>
                        </div>
                    </div>
                    <div class="task task-1">
                        <div class="task-info">
                            <div class="task-name"><span>12</span> Orders to fulfill</div>
                            <i class="pi pi-tag"></i>
                        </div>
                        <div class="task-progress">
                            <div></div>
                        </div>
                    </div>
                    <div class="task task-2">
                        <div class="task-info">
                            <div class="task-name"><span>40+</span> Payments to withdraw</div>
                            <i class="pi pi-money-bill"></i>
                        </div>
                        <div class="task-progress">
                            <div></div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>


        <div class="p-col-12">
          <p-tabView>
            <p-tabPanel header="Header 1">
               Content 1
            </p-tabPanel>
            <p-tabPanel header="Header 2">
                Content 2
            </p-tabPanel>
            <p-tabPanel header="Header 3">
                Content 3
            </p-tabPanel>
          </p-tabView>
        </div>
    </div>
</div>
<ng-template #stockNotLoaded>
    <div class="vertically-and-horizontally-centered">
        <p-progressSpinner></p-progressSpinner>
    </div>
</ng-template>
