DATABASE_URL=postgres://postgres:postgres@localhost:5432/ratemystocks
NODE_ENV=local
RUN_MIGRATIONS=true
IEX_SANDBOX_MODE=false
IEX_API_TOKEN=INSERT_API_TOKEN_HERE
IEX_SANDBOX_API_TOKEN=INSERT_API_TOKEN_HERE
JWT_SECRET=INSERT_JWT_SECRET_HERE
JWT_EXPIRATION_SECONDS=3600
