<!-- <div style="background-color: #3C4962; color: white; font-weight: bold; padding: 10px;"> -->
<!-- <div style="background-color: rgba(90, 101, 124, 0.2); color: #515C66; font-weight: bold; padding: 10px;"> -->
<div style="background-color: black; color: white; font-weight: bold; padding: 10px;">
  <span class="p-mr-4">DOW <span style="color: #39fc03">0.62%</span></span>
  <span class="p-mr-4">S&P 500 <span style="color: #39fc03">0.65%</span></span>
  <span class="p-mr-4">NASDAQ <span style="color: #39fc03">0.78%</span></span>
  <span style="font-weight: bold;"> | </span>
  <span class="p-mr-4">EUR-USD <span style="color: #39fc03">0.78%</span></span>
  <span class="p-mr-4">GLD <span style="color: #39fc03">0.78%</span></span>
  <span style="font-weight: bold;"> | </span>
</div>
