<!-- <div style="background-color: #3C4962; color: white; font-weight: bold; padding: 10px;"> -->
<!-- <div style="background-color: rgba(90, 101, 124, 0.2); color: #515C66; font-weight: bold; padding: 10px;"> -->
<div style="background-color: black; color: white; font-weight: bold; padding: 8px;">
  <small class="p-mr-4">DOW <span style="color: #39fc03">0.62%</span></small>
  <small class="p-mr-4">S&P 500 <span style="color: #39fc03">0.65%</span></small>
  <small class="p-mr-4">NASDAQ <span style="color: #39fc03">0.78%</span></small>
  <small style="font-weight: bold;"> | </small>
</div>
