$animationSpeed: 80s;

// Animation
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-200px * 10));
  }
}

// Styling
.slider {
  background-color: #FDFEFF;
  color: black;
  font-weight: bold;
  padding: 8px;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;

  &::before,
  &::after {
    content: '';
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }

  .slide-track {
    animation: scroll $animationSpeed linear infinite;
    display: flex;
    // TODO: Instead of 14, set the multiplier equal to the number of stocks (will have to use inline css to do this)
    width: calc(200px * 20);
  }

  .slide {
    width: 200px;
  }
}
