<div class="layout-topbar">
  <div class="layout-topbar-wrapper">
    <div class="layout-topbar-left">
      <div class="layout-topbar-logo" id="logolink" style="cursor: pointer; outline: none;" routerLink="/">
        <!-- Inline styling is needed so the logo doesn't appear huge for a split second on page load. Angular Universal has a slight delay when loading CSS from stylesheets -->
        <img
          id="app-logo"
          [src]="
            'assets/layout/images/logo-' +
            (app.topbarTheme === 'light' ? 'ratemystocks' : 'ratemystocks-dark-theme') +
            '.png'
          "
          [style]="{ height: '32px', width: 'auto' }"
        />
      </div>
    </div>

    <div class="layout-topbar-right">
      <a class="menu-button" href="#" (click)="appMain.onMenuButtonClick($event)">
        <i class="pi pi-bars"></i>
      </a>

      <ul class="layout-topbar-actions">
        <li #searchItem class="search-item topbar-item" [ngClass]="{ 'active-topmenuitem': appMain.search }">
          <a href="#" (click)="appMain.onTopbarItemClick($event, searchItem)">
            <span class="topbar-icon">
              <i class="pi pi-search"></i>
            </span>
          </a>

          <div class="search-input-wrapper">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <p-autoComplete [(ngModel)]="selectedStock" [suggestions]="filteredStocks"
                (completeMethod)="searchStocks($event)" (onSelect)="onSelectStock($event)" field="symbol" placeholder="Search stocks">
                <ng-template let-stock pTemplate="item">
                  <div style="display: flex; align-items: center;">
                    <img
                      class="stock-logo p-mr-2"
                      src="https://storage.googleapis.com/iex/api/logos/{{ stock.symbol }}.png"
                      onerror="this.onerror=null; this.src=''"
                      style="width:24px;height: auto;"
                    />
                    <!-- <small [innerHTML]="highlightMatchingSearchText(selectedStock, stock.symbol)"> -->
                    <small>
                      <b>{{stock.symbol}}</b>
                    </small>
                    |
                    <small>
                    <!-- <small [innerHTML]="highlightMatchingSearchText(selectedStock, stock.securityName)"> -->
                      {{ stock.securityName }}
                    </small>
                  </div>
                </ng-template>
              </p-autoComplete>
            </span>
          </div>

          <ul class="fadeInDown">
            <div class="search-input-wrapper p-fluid">
              <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <p-autoComplete [(ngModel)]="selectedStock" [suggestions]="filteredStocks" (click)="appMain.searchClick = true"
                (completeMethod)="searchStocks($event)" (onSelect)="onSelectStock($event)" field="name" placeholder="Search stocks">
                <ng-template let-stock pTemplate="item">
                  <div style="display: flex;
                  align-items: center;">
                    <img
                      class="stock-logo p-mr-2"
                      src="https://storage.googleapis.com/iex/api/logos/{{ stock.symbol }}.png"
                      onerror="this.onerror=null; this.src=''"
                      style="width:24px;height: auto;"
                    />
                    <!-- <small [innerHTML]="highlightMatchingSearchText(selectedStock, stock.symbol)"> -->
                    <small>
                      <b>{{stock.symbol}}</b>
                    </small>
                    |
                    <small>
                    <!-- <small [innerHTML]="highlightMatchingSearchText(selectedStock, stock.securityName)"> -->
                      {{ stock.securityName }}
                    </small>
                  </div>
                </ng-template>
              </p-autoComplete>
              </span>
            </div>
          </ul>
        </li>
        <li
          *ngIf="isAuth"
          #notifications
          class="topbar-item notifications"
          [ngClass]="{
            'active-topmenuitem': appMain.activeTopbarItem === notifications
          }"
        >
          <a href="#" (click)="appMain.onTopbarItemClick($event, notifications)">
            <span class="p-overlay-badge topbar-icon">
              <!-- TODO: Update with real number of notifications-->
              <i *ngIf="false" class="pi pi-bell" pBadge value="0" severity="danger"></i>
              <i *ngIf="true" class="pi pi-bell"></i>
            </span>
          </a>
          <ul class="fadeInDown">
            <li class="layout-submenu-header">
              <h6 class="header-text">Notifications</h6>
              <!-- TODO: Update with real number of notifications-->
              <span class="p-badge">0</span>
            </li>
            <!-- <li role="menuitem">
              <a href="#" (click)="appMain.onTopbarSubItemClick($event)">
                <i class="pi pi-shopping-cart"></i>
                <div class="notifications-item">
                  <h6>Order <span>#2254</span> is placed</h6>
                  <span>Total Amount of <span>$34.50</span></span>
                </div>
              </a>
            </li>
            <li role="menuitem">
              <a href="#" (click)="appMain.onTopbarSubItemClick($event)">
                <i class="pi pi-clock"></i>
                <div class="notifications-item">
                  <h6>
                    Meeting with
                    <span>AF04</span> Team
                  </h6>
                  <span>Google Meets</span>
                </div>
              </a>
            </li>
            <li role="menuitem">
              <a href="#" (click)="appMain.onTopbarSubItemClick($event)">
                <i class="pi pi-th-large"></i>
                <div class="notifications-item">
                  <h6>Task <span>#41</span> is complete</h6>
                  <span>9 Remaining Tasks</span>
                </div>
              </a>
            </li>
            <li role="menuitem">
              <a href="#" (click)="appMain.onTopbarSubItemClick($event)">
                <i class="pi pi-shopping-cart"></i>
                <div class="notifications-item">
                  <h6>Order <span>#2255</span> is placed</h6>
                  <span>Total Amount of <span>$40.45</span></span>
                </div>
              </a>
            </li> -->
          </ul>
        </li>
        <!-- <li
          *ngIf="isAuth"
          #messages
          class="topbar-item messages"
          [ngClass]="{
            'active-topmenuitem': appMain.activeTopbarItem === messages
          }"
        >
          <a href="#" (click)="appMain.onTopbarItemClick($event, messages)">
            <span class="p-overlay-badge topbar-icon">
              <i class="pi pi-comments" pBadge value="6" severity="danger"></i>
            </span>
          </a>
          <ul class="fadeInDown">
            <li class="layout-submenu-header">
              <h6 class="header-text">Messages</h6>
              <span class="p-badge">5</span>
            </li>
            <li role="menuitem">
              <a href="#" (click)="appMain.onTopbarSubItemClick($event)">
                <img src="assets/layout/images/dashboard/leader-1.png" alt="demo" />
                <div class="messages-item">
                  <h6>Hey! I sent the sales report</h6>
                  <span>Dusana Semenov</span>
                </div>
              </a>
            </li>
            <li role="menuitem">
              <a href="#" (click)="appMain.onTopbarSubItemClick($event)">
                <img src="assets/layout/images/dashboard/leader-2.png" alt="demo" />
                <div class="messages-item">
                  <h6>OK. Let’s meet at 15 pm...</h6>
                  <span>Edward Lindgren</span>
                </div>
              </a>
            </li>
            <li role="menuitem">
              <a href="#" class="topbar-message" (click)="appMain.onTopbarSubItemClick($event)">
                <img src="assets/layout/images/dashboard/leader-3.png" alt="demo" />
                <div class="messages-item">
                  <h6>Presentation is ready</h6>
                  <span>Noell Blue</span>
                </div>
              </a>
            </li>
            <li role="menuitem">
              <a href="#" class="topbar-message" (click)="appMain.onTopbarSubItemClick($event)">
                <img src="assets/layout/images/dashboard/leader-4.png" alt="demo" />
                <div class="messages-item">
                  <h6>Faulty delivery on #959</h6>
                  <span>Gvozden Boskovsky</span>
                </div>
              </a>
            </li>
          </ul>
        </li> -->
        <li
          #settings
          class="topbar-item settings"
        >
          <a *ngIf="isAuth" routerLink="/profile/settings">
            <span class="topbar-icon">
              <i class="pi pi-cog"></i>
            </span>
          </a>
          <a *ngIf="!isAuth" (click)="showLoginDialog(authModeType.LOGIN)">
            <span class="topbar-icon">
              <i class="pi pi-cog"></i>
            </span>
          </a>
        </li>
        <!-- <li
          #settings
          class="topbar-item settings"
          [ngClass]="{
            'active-topmenuitem': appMain.activeTopbarItem === settings
          }"
        >
          <a href="#" (click)="appMain.onTopbarItemClick($event, settings)">
            <span class="topbar-icon">
              <i class="pi pi-cog"></i>
            </span>
          </a>
          <ul class="fadeInDown">
            <li class="layout-submenu-header">
              <h6 class="header-text">Settings</h6>
            </li>
            <li role="menuitem">
              <a href="#" (click)="appMain.onTopbarSubItemClick($event)">
                <i class="pi pi-user"></i>
                <div class="settings-item">
                  <h6>Account Info</h6>
                </div>
              </a>
            </li>
            <li role="menuitem">
              <a href="#" (click)="appMain.onTopbarSubItemClick($event)">
                <i class="pi pi-users"></i>
                <div class="settings-item">
                  <h6>Global Accounts</h6>
                </div>
              </a>
            </li>
            <li role="menuitem">
              <a href="#" (click)="appMain.onTopbarSubItemClick($event)">
                <i class="pi pi-bell"></i>
                <div class="settings-item">
                  <h6>Notification Preferences</h6>
                </div>
              </a>
            </li>
            <li role="menuitem">
              <a href="#" (click)="appMain.onTopbarSubItemClick($event)">
                <i class="pi pi-lock"></i>
                <div class="settings-item">
                  <h6>Login Settings</h6>
                </div>
              </a>
            </li>
          </ul>
        </li> -->
        <li
          #signin
          *ngIf="!isAuth"
          class="topbar-item user-login"
          [ngClass]="{
            'active-topmenuitem': appMain.activeTopbarItem === signin
          }"
        >
          <div class="user-login-buttons">
            <button pButton type="button" label="Login" class="p-button-outlined p-button-success p-mr-3" (click)="showLoginDialog(authModeType.LOGIN)"></button>
            <button pButton type="button" label="Sign Up" (click)="showLoginDialog(authModeType.SIGN_UP)"></button>
          </div>
          <a href="#" (click)="appMain.onTopbarItemClick($event, signin)" class="user-authenticaton-actions-menu">
            <span class="topbar-icon">
              <i class="pi pi-user"></i>
            </span>
          </a>
          <ul class="fadeInDown">
            <li role="menuitem">
              <a href="#" (click)="appMain.onTopbarSubItemClick($event)">
                <button pButton type="button" label="Login" class="p-button-outlined p-button-success" (click)="showLoginDialog(authModeType.LOGIN)" style="width: 100%"></button>
              </a>
            </li>
            <li role="menuitem">
              <a href="#" (click)="appMain.onTopbarSubItemClick($event)">
                <button pButton type="button" label="Sign Up" style="width: 100%" (click)="showLoginDialog(authModeType.SIGN_UP)"></button>
              </a>
            </li>
          </ul>
        </li>
        <li
          #profile
          class="topbar-item user-profile"
          *ngIf="isAuth"
          [ngClass]="{
            'active-topmenuitem': appMain.activeTopbarItem === profile
          }"
        >
          <a href="#" (click)="appMain.onTopbarItemClick($event, profile)">
            <img class="profile-image" src="assets/layout/images/avatars/{{avatar}}.png" alt="demo" />
            <div class="profile-info">
              <h6>{{ userName }}</h6>
              <span>{{ email }}</span>
            </div>
          </a>

          <ul class="fadeInDown">
            <li class="layout-submenu-header">
              <img class="profile-image" src="assets/layout/images/avatars/{{avatar}}.png" alt="demo" />
              <div class="profile-info">
                <h6>{{ userName }}</h6>
                <span>{{ email }}</span>
              </div>
            </li>
            <li role="menuitem">
              <a routerLink="/profile/users/{{userName}}" (click)="appMain.onTopbarSubItemClick($event)">
                <i class="pi pi-user"></i>
                <h6>View Profile</h6>
              </a>
            </li>
            <li role="menuitem">
              <a routerLink="/profile/settings" (click)="appMain.onTopbarSubItemClick($event)">
                <i class="pi pi-cog"></i>
                <h6>Settings</h6>
              </a>
            </li>
            <li role="menuitem">
              <a (click)="logOut()">
                <i class="pi pi-sign-out"></i>
                <h6>Logout</h6>
              </a>
            </li>
          </ul>
        </li>
      </ul>

      <!-- <a class="layout-rightpanel-button" href="#" (click)="appMain.onRightPanelButtonClick($event)">
        <i class="pi pi-arrow-left"></i>
      </a> -->
    </div>
  </div>
</div>

<!-- Login Dialog -->
<p-dialog [header]="authMode.text" [(visible)]="displayLoginDialog" [modal]="true" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"  [style]="{width: '44vw'}" [draggable]="false" [resizable]="false">
  <div [ngSwitch]="authMode.type">
    <form (ngSubmit)="onSubmitLoginForm()" [formGroup]="loginForm" *ngSwitchCase="authModeType.LOGIN">
      <div class="login-form">
        <div class="p-col-12">
          <div class="p-grid">
              <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
                  <div class="p-fluid">
                      <div class="p-field">
                          <label for="username">Username or Email</label>
                          <span class="p-input-icon-left">
                            <i class="pi pi-user"></i>
                            <input formControlName="usernameOrEmail" type="text" pInputText id="username" type="text" [ngClass]="{'ng-invalid': loginForm.controls['usernameOrEmail'].invalid, 'ng-dirty': loginForm.controls['usernameOrEmail'].touched}" />
                          </span>
                          <small *ngIf="!loginForm.controls['usernameOrEmail'].valid && loginForm.controls['usernameOrEmail'].touched" class="p-invalid">Please enter your username or email.</small>
                      </div>
                      <div class="p-field">
                          <label for="password">Password</label>
                          <span class="p-input-icon-left">
                            <i class="pi pi-unlock"></i>
                            <input formControlName="password" type="password" pInputText id="password" type="password" [ngClass]="{'ng-invalid': loginForm.controls['password'].invalid, 'ng-dirty': loginForm.controls['password'].touched}" />
                          </span>
                          <small *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched" class="p-invalid">Please enter your password.</small>
                      </div>
                      <p-button label="Login" type="submit" [disabled]="!loginForm.valid" styleClass="p-mb-3"></p-button>

                      <p>Don't have an account? <a (click)="setAuthMode(authModeType.SIGN_UP)"> Sign up</a></p>
                      <p><a (click)="setAuthMode(authModeType.FORGOT_PASSWORD)">Forgot Password?</a></p>
                  </div>
              </div>
              <div class="p-col-1">
                  <p-divider layout="vertical">
                      <b>OR</b>
                  </p-divider>
              </div>
              <div class="p-col-5 p-ai-center p-jc-center">
                <!-- <button pButton type="button" label="Continue with Google" class="p-button-outlined"></button> -->
                <!-- <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div> -->
                <!-- <div id="buttonDiv"></div> -->
                <!-- <div id="g_id_onload"
                    data-client_id="1028837375961-cpc5lrf7v0lf2njeencluvgbt033qggl.apps.googleusercontent.com"
                    data-login_uri="http://localhost/auth/signin"
                    data-auto_prompt="false">
                </div>
                <div class="g_id_signin"
                    data-type="standard"
                    data-size="large"
                    data-theme="outline"
                    data-text="sign_in_with"
                    data-shape="rectangular"
                    data-logo_alignment="left">
                </div> -->
                <!-- <p-button styleClass="px-3">
                  <ng-template pTemplate="content">
                      <img alt="logo" src="assets/layout/images/google_signin_buttons/ios/1x/btn_google_dark_focus_ios.png" />
                  </ng-template>
                </p-button> -->
                <!-- <p-button styleClass="p-button-outlined">
                  <img alt="logo" src="assets/layout/images/login/google_signin_buttons/ios/1x/btn_google_signin_light_normal_ios.png" style="width: 2rem"/>
                  <span class="ml-4 font-bold">Continue with Google</span>
                </p-button> -->
                <!-- <p-button styleClass="p-button-outlined">
                  <img alt="logo" src="assets/layout/images/login/facebook/f_logo_RGB-Blue_114.png" style="width: 2rem"/>
                  <span class="ml-4 font-bold">Continue with Facebook</span>
                </p-button> -->
                <div class="vertical-center">
                  <div class="p-mb-3">
                    <p-button styleClass="p-button-outlined p-button-secondary" [style]="{width: '100%'}">
                      <ng-template pTemplate="content">
                          <img alt="logo" src="assets/layout/images/login/google/google.png" style="width: 1.5rem"/>
                          <span class="p-ml-4 p-text-bold">Continue with Google</span>
                      </ng-template>
                    </p-button>
                  </div>
                  <!-- <div class="p-mb-3">
                    <p-button styleClass="p-button-outlined" [style]="{width: '100%'}">
                      <ng-template pTemplate="content">
                          <img alt="logo" src="assets/layout/images/login/google/google.png" style="width: 1.5rem"/>
                          <span class="p-ml-4 p-text-bold">Continue with LinkedIn</span>
                      </ng-template>
                    </p-button>
                  </div> -->
                  <div class="p-mb-3">
                    <p-button styleClass="p-button-outlined p-button-secondary" [style]="{width: '100%'}">
                      <ng-template pTemplate="content">
                          <img alt="logo" src="assets/layout/images/login/facebook/f_logo_RGB-Blue_114.png" style="width: 1.5rem"/>
                          <span class="p-ml-4 p-text-bold">Continue with Facebook</span>
                      </ng-template>
                    </p-button>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <!-- <p-captcha siteKey="YOUR_SITE_KEY" (onResponse)="showCaptchaResponse($event)"></p-captcha> -->
      </div>
    </form>
    <form (ngSubmit)="onSubmitSignupForm()" [formGroup]="signupForm" *ngSwitchCase="authModeType.SIGN_UP">
      <div class="login-form">
        <div class="p-col-12">
          <div class="p-grid">
              <div class="p-col-5 p-d-flex p-ai-center p-jc-center">
                  <div class="p-fluid">
                      <div class="p-field">
                          <label for="username">Username</label>
                          <span class="p-input-icon-left">
                            <i class="pi pi-user"></i>
                            <input formControlName="username" type="text" pInputText id="username" type="text" maxlength="30" [ngClass]="{'ng-invalid': signupForm.controls['username'].invalid, 'ng-dirty': signupForm.controls['username'].touched}"/>
                          </span>
                          <small *ngIf="!signupForm.controls['username'].valid && signupForm.controls['username'].touched" class="p-invalid">{{ signupForm.controls['username'] | usernameFormFieldValidator }}</small>
                      </div>
                      <div class="p-field">
                        <label for="email">Email</label>
                        <span class="p-input-icon-left">
                          <i class="pi pi-envelope"></i>
                          <input formControlName="email" type="text" pInputText id="email" type="email" [ngClass]="{'ng-invalid': signupForm.controls['email'].invalid, 'ng-dirty': signupForm.controls['email'].touched}"/>
                        </span>
                        <small *ngIf="!signupForm.controls['email'].valid && signupForm.controls['email'].touched" class="p-invalid">{{ signupForm.controls['email'] | emailFormFieldValidator }}</small>
                      </div>
                      <div class="p-field">
                          <label for="password">Password</label>
                          <span class="p-input-icon-left">
                            <i class="pi pi-unlock"></i>
                            <input formControlName="password" type="password" pInputText id="password" type="password" [ngClass]="{'ng-invalid': signupForm.controls['password'].invalid, 'ng-dirty': signupForm.controls['password'].touched}"/>
                          </span>
                          <!-- <small *ngIf="!signupForm.controls['password'].valid && signupForm.controls['password'].touched" class="p-invalid">{{ signupForm.controls['password'] | passwordFormFieldValidator }}</small> -->
                          <small *ngIf="!signupForm.controls['password'].valid && signupForm.controls['password'].touched" class="p-invalid">{{ getErrorPassword() }}</small>
                      </div>
                      <div class="p-field">
                        <label for="passwordReenter">Re-enter Password</label>
                        <span class="p-input-icon-left">
                          <i class="pi pi-unlock"></i>
                          <input formControlName="passwordReenter" type="password" pInputText id="passwordReenter" type="password" (input)="onPasswordInput()" [ngClass]="{'ng-invalid': signupForm.controls['passwordReenter'].invalid, 'ng-dirty': signupForm.controls['passwordReenter'].touched}" />
                        </span>
                        <!-- <small  class="p-invalid">{{ signupForm.controls['passwordReenter'] | passwordReenterFormFieldValidator }}</small> -->
                        <small *ngIf="!signupForm.controls['passwordReenter'].valid && signupForm.controls['passwordReenter'].touched" class="p-invalid">{{ getErrorPasswordReenter() }}</small>
                      </div>
                      <p-button label="Sign Up" type="submit" [disabled]="!signupForm.valid" styleClass="p-mb-3"></p-button>

                      <small class="p-mb-2"
                        >By registering, you agree to our <a href="#">Terms of Service</a> and <a href="#">Privacy Policy.</a></small
                      >
                      <p>Already have an account? <a (click)="setAuthMode(authModeType.LOGIN)">Login</a></p>
                  </div>
              </div>
              <div class="p-col-1">
                  <p-divider layout="vertical">
                      <b>OR</b>
                  </p-divider>
              </div>
              <div class="p-col-5 p-ai-center p-jc-center">
                <!-- <button pButton type="button" label="Continue with Google" class="p-button-outlined"></button> -->
                <!-- <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div> -->
                <!-- <div id="buttonDiv"></div> -->
                <!-- <div id="g_id_onload"
                    data-client_id="1028837375961-cpc5lrf7v0lf2njeencluvgbt033qggl.apps.googleusercontent.com"
                    data-login_uri="http://localhost/auth/signin"
                    data-auto_prompt="false">
                </div>
                <div class="g_id_signin"
                    data-type="standard"
                    data-size="large"
                    data-theme="outline"
                    data-text="sign_in_with"
                    data-shape="rectangular"
                    data-logo_alignment="left">
                </div> -->
                <!-- <p-button styleClass="px-3">
                  <ng-template pTemplate="content">
                      <img alt="logo" src="assets/layout/images/google_signin_buttons/ios/1x/btn_google_dark_focus_ios.png" />
                  </ng-template>
                </p-button> -->
                <!-- <p-button styleClass="p-button-outlined">
                  <img alt="logo" src="assets/layout/images/login/google_signin_buttons/ios/1x/btn_google_signin_light_normal_ios.png" style="width: 2rem"/>
                  <span class="ml-4 font-bold">Continue with Google</span>
                </p-button> -->
                <!-- <p-button styleClass="p-button-outlined">
                  <img alt="logo" src="assets/layout/images/login/facebook/f_logo_RGB-Blue_114.png" style="width: 2rem"/>
                  <span class="ml-4 font-bold">Continue with Facebook</span>
                </p-button> -->
                <div class="vertical-center">
                  <div class="p-mb-3">
                    <p-button styleClass="p-button-outlined p-button-secondary" [style]="{width: '100%'}">
                      <ng-template pTemplate="content">
                          <img alt="logo" src="assets/layout/images/login/google/google.png" style="width: 1.5rem"/>
                          <span class="p-ml-4 p-text-bold">Continue with Google</span>
                      </ng-template>
                    </p-button>
                  </div>
                  <!-- <div class="g_id_signin"
                    data-type="standard"
                    data-size="large"
                    data-theme="outline"
                    data-text="sign_in_with"
                    data-shape="rectangular"
                    data-logo_alignment="left">
                  </div> -->
                  <!-- <div class="p-mb-3">
                    <p-button styleClass="p-button-outlined" [style]="{width: '100%'}">
                      <ng-template pTemplate="content">
                          <img alt="logo" src="assets/layout/images/login/google/google.png" style="width: 1.5rem"/>
                          <span class="p-ml-4 p-text-bold">Continue with LinkedIn</span>
                      </ng-template>
                    </p-button>
                  </div> -->
                  <div class="p-mb-3">
                    <p-button styleClass="p-button-outlined p-button-secondary" [style]="{width: '100%'}">
                      <ng-template pTemplate="content">
                          <img alt="logo" src="assets/layout/images/login/facebook/f_logo_RGB-Blue_114.png" style="width: 1.5rem"/>
                          <span class="p-ml-4 p-text-bold">Continue with Facebook</span>
                      </ng-template>
                    </p-button>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <!-- <p-captcha siteKey="YOUR_SITE_KEY" (onResponse)="showCaptchaResponse($event)"></p-captcha> -->
      </div>
    </form>
    <form (ngSubmit)="onSubmitForgotPassword()" [formGroup]="forgotPasswordForm" *ngSwitchCase="authModeType.FORGOT_PASSWORD">
      <div class="login-form">
        <div class="p-col-12">
          <div class="p-grid">
                <div class="p-col-12 p-d-flex p-ai-center p-jc-center">
                  <div class="p-fluid">
                      <div class="p-field">
                        <label for="email">Email</label>
                        <span class="p-input-icon-left">
                          <i class="pi pi-envelope"></i>
                          <input formControlName="email" type="text" pInputText id="email" type="email" [ngClass]="{'ng-invalid': forgotPasswordForm.controls['email'].invalid, 'ng-dirty': forgotPasswordForm.controls['email'].touched}" />
                        </span>
                        <small *ngIf="!forgotPasswordForm.controls['email'].valid && forgotPasswordForm.controls['email'].touched" class="p-invalid">{{ forgotPasswordForm.controls['email'] | emailFormFieldValidator }}</small>
                      </div>
                      <p-button label="Reset Password" type="submit" [disabled]="!forgotPasswordForm.valid" styleClass="p-mb-3"></p-button>
                      <span class="p-mr-3"><a (click)="setAuthMode(authModeType.LOGIN)">Login</a></span>
                      <span><a (click)="setAuthMode(authModeType.SIGN_UP)">Sign Up</a></span>
                  </div>
              </div>
          </div>
        </div>
        <!-- <p-captcha siteKey="YOUR_SITE_KEY" (onResponse)="showCaptchaResponse($event)"></p-captcha> -->
      </div>
    </form>
  </div>
  <p-messages [(value)]="formErrorMessages"></p-messages>
</p-dialog>

