<app-auth-form-container>
  <mat-spinner *ngIf="isLoading; else notLoading" class="centered-content"></mat-spinner>
  <ng-template #notLoading>
    <form [formGroup]="form" (submit)="submitForm()">
      <mat-form-field appearance="outline">
        <input formControlName="username" type="text" matInput placeholder="Username" maxlength="30" />
        <mat-error *ngIf="!username.valid && username.touched">
          {{ getErrorUsername() }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input formControlName="email" type="email" matInput placeholder="Email" />
        <mat-error *ngIf="!email.valid && email.touched">
          {{ getErrorEmail() }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input formControlName="password" type="password" matInput placeholder="Password" (input)="onPasswordInput()"/>
        <!-- <mat-hint></mat-hint> -->
        <mat-error *ngIf="!password.valid && password.touched">
          {{ getErrorPassword() }}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <input
          formControlName="passwordReenter"
          type="password"
          matInput
          placeholder="Re-enter Password"
          (input)="onPasswordInput()"
        />
        <mat-error *ngIf="passwordReenter.invalid">{{ getErrorPasswordReenter() }}</mat-error>
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary" [disabled]="!form.valid">{{ buttonLabel }}</button>
      <br />
      <small
        >By registering, you agree to our <a href="#">Terms of Service</a> and <a href="#">Privacy Policy.</a></small
      >
      <br />
      <p>Already have an account? <a routerLink="/auth/signin">Login</a></p>
    </form>
  </ng-template>
</app-auth-form-container>
