<div class="layout-dashboard">
    <div class="p-grid">
      <div class="p-col-12 p-md-12 p-l-3 p-xl-3">
        <div class="p-grid">
          <div class="p-col-12 p-md-6 p-xl-12">
            <p-card [header]="user?.username" [subheader]="'Joined ' + memberSinceDate" styleClass="p-card-shadow">
              <!-- <p-card> -->
              <ng-template pTemplate="header">
                <div style="text-align: center; padding-top: 10px !important;" *ngIf="user">
                  <img
                    id="user-profile-thumbnail"
                    style="width: 65%; height: auto;"
                    src="../../../../../assets/layout/images/avatars/{{ user.spiritAnimal }}.png"
                  />
                  <h4>{{ user?.username }}</h4>
                </div>
              </ng-template>

              <small>6 Followers</small>
              <span>&#8226;</span>
              <small>6 Following</small>

              <p>{{ user?.bio }}</p>

              <hr>

              <ng-template pTemplate="footer">
                <p-button label="Follow" icon="pi pi-plus"></p-button>
                <p-button label="Edit Profile" icon="pi pi-pencil" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>
              </ng-template>
            </p-card>
          </div>
        </div>
      </div>
      <div class="p-col-12 p-md-12 p-l-9 p-xl-9">
        <p-tabView styleClass="tabview-custom">
          <p-tabPanel>
            <ng-template pTemplate="header">
              <!-- <i class="pi pi-calendar"></i> -->
              <span>Ratings</span>
            </ng-template>
            <div *ngIf="user">
              <app-user-stock-ratings-table [user]="user"></app-user-stock-ratings-table>
            </div>
          </p-tabPanel>
          <p-tabPanel header="Portfolios">
            <ng-template pTemplate="header">
              <!-- <i class="pi pi-user"></i> -->
              <span>Portfolios</span>
            </ng-template>
            <div *ngIf="user">
              <app-user-portfolios-table [user]="user"></app-user-portfolios-table>
            </div>
          </p-tabPanel>
        </p-tabView>
      </div>

    </div>
</div>
