<mat-card class="example-card" style="max-width: 400px">
  <mat-card-header>
    <img
      id="user-profile-thumbnail"
      mat-card-avatar
      src="../../../../../assets/images/avatars/{{ user.spiritAnimal }}.png"
    />
    <mat-card-title id="user-profile-username">{{ user.username }}</mat-card-title>
    <!-- <mat-card-subtitle
      ><small>Last Login: {{ moment().fromNow() }}</small></mat-card-subtitle
    > -->
  </mat-card-header>
  <mat-card-content> </mat-card-content>
  <mat-card-actions>
    <!-- <button mat-flat-button color="primary">Follow</button> -->
  </mat-card-actions>
</mat-card>
