.basicStatsInfo {
  outline-style: solid;
}

.infoContainer {
  display: flex;
  justify-content: space-between;
}

.stats {
  margin-right: 10%;
}

.newsThumbnail {
  height: 50px;
  width: 50px;
  margin-right: 10px;
}

mat-list-item {
  margin-bottom: 20px;
}
