<div class="login-body">
  <div class="login-wrapper">
      <div class="login-panel">
          <a [routerLink]="['/']" class="logo">
              <img src="assets/layout/images/logo-ratemystocks.png" />
          </a>
          <div>
              <div class="p-col-12">

                <p-card header="Forgot Password" [style]="{width: '360px'}" styleClass="p-card-shadow">
                  <ng-template pTemplate="header">
                      <!-- <img alt="Card" src="assets/showcase/images/usercard.png"> -->
                  </ng-template>
                  <form (ngSubmit)="onSubmitForgotPassword()" [formGroup]="forgotPasswordForm">
                    <div class="login-form">
                      <div class="p-col-12">
                        <div class="p-grid">
                            <!-- <div class="p-col-5 p-d-flex p-ai-center p-jc-center"> -->
                              <div class="p-col-12 p-d-flex p-ai-center p-jc-center">
                                <div class="p-fluid">
                                    <div class="p-field">
                                        <label for="username">Email</label>
                                        <span class="p-input-icon-left">
                                          <i class="pi pi-user"></i>
                                          <input formControlName="email" type="text" pInputText id="email" type="text" [ngClass]="{'ng-invalid': forgotPasswordForm.controls['email'].invalid, 'ng-dirty': forgotPasswordForm.controls['email'].touched}" />
                                        </span>
                                        <!-- <small *ngIf="!loginForm.controls['usernameOrEmail'].valid && loginForm.controls['usernameOrEmail'].touched" class="p-invalid">Please enter your username or email.</small> -->
                                    </div>

                                    <!-- <p-button label="Login" type="submit" [disabled]="!loginForm.valid" styleClass="p-mb-3"></p-button>

                                    <p>Don't have an account? <a (click)="setAuthMode(authModeType.SIGN_UP)"> Sign up</a></p>
                                    <p><a (click)="setAuthMode(authModeType.FORGOT_PASSWORD)">Forgot Password?</a></p> -->
                                    <p-button label="Reset Password" type="submit" [disabled]="!forgotPasswordForm.valid" styleClass="p-mb-3"></p-button>
                                    <p-messages></p-messages>
                                </div>
                            </div>
                            <!-- <div class="p-col-1">
                                <p-divider layout="vertical">
                                    <b>OR</b>
                                </p-divider>
                            </div>
                            <div class="p-col-5 p-ai-center p-jc-center">
                              <button pButton type="button" label="Sign in with Google" class="p-button-outlined"></button>
                              <button pButton type="button" label="Sign in with Facebook" class="p-button-outlined"></button>
                            </div> -->
                        </div>
                      </div>
                      <!-- <p-captcha siteKey="YOUR_SITE_KEY" (onResponse)="showCaptchaResponse($event)"></p-captcha> -->
                    </div>
                  </form>
                  <ng-template pTemplate="footer">
                    <small><b><a routerLink="/login"> Login</a></b></small>
                    &#8226;
                    <small><b><a routerLink="/signup"> Sign Up</a></b></small>
                  </ng-template>
                </p-card>
              </div>
          </div>

          <p>A problem? <a routerLink="/resources/help">Click here</a> and let us help you.</p>
      </div>
  </div>
</div>
