<div class="login-body">
  <div class="login-wrapper">
      <div class="login-panel">
          <a [routerLink]="['/']" class="logo">
              <img src="assets/layout/images/logo-ratemystocks.png" alt="poseidon-layout" />
          </a>
          <form [formGroup]="form" (ngSubmit)="submitForm()">
            <div class="login-form">
                <div class="p-col-12">
                    <div class="card">
                        <div class="p-grid">
                            <div class="p-col-12 p-d-flex p-ai-center p-jc-center">
                                <div class="p-fluid">
                                    <div class="p-field">
                                        <label for="password">Password</label>
                                        <input pInputText id="password" formControlName="password" type="password" matInput placeholder="Password" (input)="onPasswordInput()" />
                                        <small *ngIf="!password.valid && password.touched">
                                          {{ getErrorPassword() }}
                                        </small>
                                    </div>
                                    <div class="p-field">
                                      <label for="password">Re-enter Password</label>
                                      <input
                                        pInputText
                                        id="reenterPassword"
                                        formControlName="passwordReenter"
                                        type="password"
                                        matInput
                                        placeholder="Re-enter Password"
                                        (input)="onPasswordInput()"/>
                                        <small *ngIf="passwordReenter.invalid && passwordReenter.touched">{{ getErrorPasswordReenter() }}</small>
                                  </div>
                                    <p-button type="submit" label="Reset Password" styleClass="p-m-0" [disabled]="!form.valid"></p-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </form>

          <p>A problem? <a href="#">Click here</a> and let us help you.</p>
      </div>
  </div>
</div>
