<div class="create-portfolio-dialog-container">
  <h2 mat-dialog-title>Create a Portfolio</h2>
  <form [formGroup]="portfolioForm" (ngSubmit)="onSubmit()">
    <mat-dialog-content class="mat-typography">
      <div>
        <label><strong>Name:</strong></label>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Enter a name for your portfolio" formControlName="name" required />
        </mat-form-field>
      </div>

      <div>
        <label><strong>Description:</strong></label>
        <mat-form-field appearance="outline">
          <mat-label>Description</mat-label>
          <textarea
            matInput
            formControlName="description"
            placeholder="Write a description for your portfolio"
            maxlength="500"
            id="portfolio-description-field"
          ></textarea>
        </mat-form-field>
      </div>

      <label><strong>Holdings:</strong></label>
      <app-stock-search [placeholder]="'Ticker/Name'" [redirect]="false"></app-stock-search>

      <app-portfolio-holdings-table #portfolioTable></app-portfolio-holdings-table>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
      <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
      <button type="submit" mat-raised-button [disabled]="portfolioForm.invalid" color="primary">Create</button>
    </mat-dialog-actions>
  </form>
</div>
