<!-- TODO: Move into a component -->
<mat-card *ngIf="stock">
  <mat-card-header>
    <img
      id="user-profile-thumbnail"
      mat-card-avatar
      src="https://storage.googleapis.com/iex/api/logos/{{ ticker }}.png"
      onerror="this.onerror=null; this.src='assets/images/question-mark-placeholder.png'"
    />
    <mat-card-title>
      {{ ticker }}
      <small>{{ stock.data.stats.companyName }} | {{ stock.data.company.exchange }} </small>
    </mat-card-title>
    <mat-card-subtitle>
      <span [ngStyle]="{ color: stock.data.quote.change >= 0 ? 'green' : 'red' }">
        ${{ stock.data.quote.latestPrice }}
        <small [ngStyle]="{ color: stock.data.quote.change >= 0 ? 'green' : 'red' }"
          ><span *ngIf="stock.data.quote.change >= 0">+</span>{{ stock.data.quote.change }} ({{
            (stock.data.quote.changePercent * 100).toFixed(2)
          }}%)</small
        >
      </span>
    </mat-card-subtitle>
    <!-- -->
    <!-- <div fxFlex></div> -->
    <!-- <div>
      <mat-icon>favorite_outline</mat-icon>
    </div> -->
  </mat-card-header>
  <mat-card-actions>
    <small style="font-size: 12px">Rate this stock:</small>
    <div>
      <button
        mat-button
        (click)="toggleRating('buy')"
        class="buy-stock-rating-btn"
        [ngClass]="{ activeBuy: userRating === 'buy' }"
        matBadge="&#10003;"
        [matBadgeHidden]="!isAuth || (isAuth && userRating !== 'buy')"
      >
        BUY
      </button>
      <!--       [disabled]="!isAuth" -->
      <button
        mat-button
        (click)="toggleRating('hold')"
        class="hold-stock-rating-btn"
        [ngClass]="{ activeHold: userRating === 'hold' }"
        matBadge="&#10003;"
        [matBadgeHidden]="!isAuth || (isAuth && userRating !== 'hold')"
      >
        HOLD
      </button>
      <button
        mat-button
        (click)="toggleRating('sell')"
        class="sell-stock-rating-btn"
        [ngClass]="{ activeSell: userRating === 'sell' }"
        matBadge="&#10003;"
        [matBadgeHidden]="!isAuth || (isAuth && userRating !== 'sell')"
      >
        SELL
      </button>
    </div>
  </mat-card-actions>
</mat-card>
