<mat-dialog-content>
  <div id="welcome-dialog-container">
    <h1>
      Welcome <b>{{ data.user.username }}</b
      >!
    </h1>
    <p>
      We have sent an email to <b>{{ data.user.email }}</b
      >. Please verify your account by clicking the link in the email.
      <br>
      <br>
      The link will expired in <b>15 minutes</b>. If the link expires or if for some reason you do not receive the email, please click the button below to have the email resent.
    </p>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Dismiss</button>
  <button mat-button cdkFocusInitial color="primary" (click)="onClickResendVerificationEmail()">Resend Verification Email</button>
</mat-dialog-actions>
