<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened]="!currentRoute.includes('auth')">
    <mat-nav-list>
      <!-- MAIN -->
      <h2 matSubheader id="sidenav-main-subheader">Main</h2>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/stocks">
        <mat-icon class="nav-item-stocks-icon">show_chart</mat-icon>
        <span class="sidenav-item-text">Stocks</span>
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/portfolios">
        <mat-icon class="nav-item-portfolio-icon material-icons-outlined">pie_chart</mat-icon>
        <span class="sidenav-item-text">Portfolios</span>
      </a>

      <!-- PROFILE -->
      <mat-divider></mat-divider>
      <h2 matSubheader id="sidenav-profile-subheader">Profile</h2>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/profiles/:name">
        <mat-icon class="material-icons-outlined">person</mat-icon>
        <span class="sidenav-item-text">My Profile</span>
      </a>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/favorites">
        <mat-icon class="material-icons-outlined">favorite_outline</mat-icon>
        <span class="sidenav-item-text">Favorites</span>
      </a>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/settings">
        <mat-icon class="material-icons-outlined">settings</mat-icon>
        <span class="sidenav-item-text">Settings</span>
      </a>

      <!-- RESOURCES -->
      <mat-divider></mat-divider>
      <h2 matSubheader id="sidenav-resources-subheader">Resources</h2>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/about">
        <mat-icon>info</mat-icon>
        <span class="sidenav-item-text">About Us</span>
      </a>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/help">
        <mat-icon>help_outline</mat-icon>
        <span class="sidenav-item-text">Help</span>
      </a>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/contact">
        <mat-icon class="material-icons-outlined">contact_page</mat-icon>
        <span class="sidenav-item-text">Contact Us</span>
      </a>

      <!-- SHOP -->
      <!-- <mat-divider></mat-divider>
      <h2 matSubheader id="sidenav-shop-subheader">Shop</h2>

      <a mat-list-item href="https://www.shop.ratemystocks.com">
        <mat-icon class="material-icons-outlined">shopping_cart</mat-icon>
        <span class="sidenav-item-text">Merch</span>
      </a> -->

      <!-- ADMIN -->
      <!-- <mat-divider></mat-divider>
      <h2 matSubheader id="sidenav-admin-subheader">Admin</h2>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/user-management">
        <mat-icon class="material-icons-outlined">supervised_user_circle</mat-icon>
        <span class="sidenav-item-text">User Management</span>
      </a> -->

      <footer id="rms-footer">
        <div>
          <a routerLink="/privacy-policy">Privacy Policy</a>
          <span>&nbsp;|&nbsp;</span>
          <a routerLink="/terms">Terms</a>
        </div>
        <div>&copy; 2021 ratemystocks.com</div>
      </footer>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
