<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [opened]="!currentRoute.includes('auth')">
    <mat-nav-list>
      <h2 matSubheader id="sidenav-main-subheader">Main</h2>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/stocks">
        <mat-icon class="nav-item-stocks-icon">show_chart</mat-icon>
        <span class="sidenav-item-text">Stocks</span>
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/portfolios">
        <mat-icon class="nav-item-portfolio-icon material-icons-outlined">pie_chart</mat-icon>
        <span class="sidenav-item-text">Portfolios</span>
      </a>

      <mat-divider></mat-divider>
      <h2 matSubheader id="sidenav-profile-subheader">Profile</h2>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/profiles/:name">
        <mat-icon class="material-icons-outlined">person</mat-icon>
        <span class="sidenav-item-text">My Profile</span>
      </a>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/favorites">
        <mat-icon class="material-icons-outlined">favorite_outline</mat-icon>
        <span class="sidenav-item-text">Favorites</span>
      </a>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/settings">
        <mat-icon class="material-icons-outlined">settings</mat-icon>
        <span class="sidenav-item-text">Settings</span>
      </a>

      <mat-divider></mat-divider>
      <h2 matSubheader id="sidenav-resources-subheader">Resources</h2>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/about">
        <mat-icon>info</mat-icon>
        <span class="sidenav-item-text">About Us</span>
      </a>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/help">
        <mat-icon>help_outline</mat-icon>
        <span class="sidenav-item-text">Help</span>
      </a>

      <a mat-list-item routerLinkActive="list-item-active" routerLink="/contact">
        <mat-icon class="material-icons-outlined">contact_page</mat-icon>
        <span class="sidenav-item-text">Contact Us</span>
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/privacy-policy">
        <mat-icon class="material-icons-outlined">privacy_tip</mat-icon>
        <span class="sidenav-item-text">Privacy Policy</span>
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/terms">
        <mat-icon class="material-icons-outlined">edit_note</mat-icon>
        <span class="sidenav-item-text">Terms</span>
      </a>

      <mat-divider></mat-divider>
      <footer id="rms-footer">&copy; 2021 ratemystocks.com</footer>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
