<app-share-on-social-media-bar></app-share-on-social-media-bar>
<p-confirmPopup></p-confirmPopup>

<div class="layout-dashboard" *ngIf="portfolio">
    <div class="p-grid">
        <div class="p-col-12 p-md-12 p-xl-9">
            <div class="p-grid">
              <div class="p-col-12 p-md-12 p-xl-4">
                  <div class="card overview-box-1 blue">
                      <div class="card-header">
                          <h6>Sample Portfolio</h6>
                          <div class="header-buttons">
                              <a href="#"><i class="pi pi-chart-bar"></i></a>
                          </div>
                      </div>
                      <div class="overview-content">
                          <h5>
                            {{ portfolio.name | truncate:[15, '...'] }}
                            <div style="font-size: small;" class="p-mt-1"><b>By <a routerLink="/profile/users/{{ portfolio.user.username }}">{{ portfolio.user.username }}</a></b></div>
                          </h5>
                      </div>
                      <div class="overview-footer">
                          <small>Last Updated {{ portfolio.lastUpdated | momentFromNowDatePipe }}</small>
                      </div>
                  </div>
              </div>
              <div class="p-col-12 p-md-12 p-xl-4">
                <div class="card overview-box-1 teal">
                  <div class="card-header">
                      <h6>Followers</h6>
                      <div class="header-buttons">
                        <a *ngIf="!isLoggedInUserFollowing" (click)="followPortfolio()"><i class="pi pi-plus-circle"></i></a>
                        <a *ngIf="isLoggedInUserFollowing" (click)="unfollowPortfolio()" class="header-button-active"><i class="pi pi-check-circle"></i></a>
                      </div>
                  </div>
                  <div class="overview-content">
                      <h3>{{followers}}</h3>
                      <div class="overview-graph">
                        <span *ngFor="let followerCountByDay of followerCountsByDay" [ngStyle]="{'height': followerCountByDay.pixelCount, 'margin-top': noNewFollowers ? '52px' : '0px'}"><span class="graph-tooltip">{{followerCountByDay.followerCount}}</span></span>
                      </div>
                  </div>
                  <div class="overview-footer" [ngClass]="{'down': followerPercentChangeToday < 0, 'up': followerPercentChangeToday >= 0}">
                    <span *ngIf="followerPercentChangeToday != Infinity && followerPercentChangeToday !== 0">
                      <i [ngClass]="{'pi': true, 'p-mr-2': true, 'pi-arrow-down': followerPercentChangeToday < 0, 'pi-arrow-up': followerPercentChangeToday > 0}"></i>
                      <span class="p-mr-1">{{ followerPercentChangeToday.toFixed(0) }}%</span>
                      <span><span *ngIf="followerPercentChangeToday >= 0">increase</span> <span *ngIf="followerPercentChangeToday < 0">decrease</span> in followers today.</span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="p-col-12 p-md-12 p-xl-4">
                <div class="card overview-box-1 orange">
                  <div class="card-header">
                      <h6>Visits</h6>
                      <div class="header-buttons">
                          <a><i class="pi pi-eye"></i></a>
                      </div>
                  </div>
                  <div class="overview-content">
                      <h3>{{ visitors }}</h3>
                      <div class="overview-graph">
                        <span *ngFor="let visitCount of visitCountsByDay" [ngStyle]="{'height': visitCount.pixelCount}"><span class="graph-tooltip">{{visitCount.visitCount}}</span></span>
                      </div>
                  </div>
                  <div class="overview-footer" [ngClass]="{'down': visitPercentChangeToday < 0, 'up': visitPercentChangeToday >= 0}">
                    <span *ngIf="visitPercentChangeToday != Infinity && visitPercentChangeToday !== 0">
                      <i [ngClass]="{'pi': true, 'p-mr-2': true, 'pi-arrow-down': visitPercentChangeToday < 0, 'pi-arrow-up': visitPercentChangeToday > 0}"></i>
                      <span class="p-mr-1">{{ visitPercentChangeToday.toFixed(0) }}%</span>
                      <span><span *ngIf="visitPercentChangeToday >= 0">increase</span> <span *ngIf="visitPercentChangeToday < 0">decrease</span> in visits today.</span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="p-col-12">
                <div class="card sale-graph">
                  <div class="card-header">
                    <h6>Holdings</h6>
                  </div>
                  <div *ngIf="portfolioStocks">
                    <app-portfolio-holdings-table-readonly [portfolioStocks]="portfolioStocks" [iexStockDataMap]="iexStockDataMap"></app-portfolio-holdings-table-readonly>
                  </div>
                </div>
              </div>

              <div class="p-col-12 p-md-12 p-xl-6">
                <div class="card product-list">
                  <div class="card-header">
                      <h6>News</h6>
                  </div>
                  <ul style="max-height:400px;margin:0;overflow:auto;" *ngIf="portfolioStocks">
                      <li *ngFor="let article of portfolioStocksNewsItems">
                        <a href="{{article?.url}}" target="_blank">
                          <div class="product">
                            <img src="{{article?.image}}" onerror="this.onerror=null; this.src=''" />
                            <div class="product-info">
                                <small *ngFor="let ticker of article?.tickers" class="p-mr-1" style="background-color: rgb(72, 177, 46); color: white; padding: 3px;  border-radius: 3px;"><b>{{ ticker }}</b></small>
                                <p style="font-size: small;"><b>{{article?.headline | truncate:[50, '...'] }}</b></p>
                                <small>{{article?.source}}</small>
                                &#8226;
                                <small>{{ moment(article?.datetime).fromNow() }}</small>
                            </div>
                          </div>
                        </a>
                        <!-- <i class="pi pi-arrow-up"></i> -->
                      </li>
                      <p-scrollTop target="parent"></p-scrollTop>
                  </ul>
                </div>
              </div>
              <div class="p-col-12 p-md-12 p-xl-6">
                <div class="card product-list">
                  <div class="card-header">
                      <h6>Calendar</h6>
                  </div>
                  <div *ngIf="portfolioStocks">
                    <app-portfolio-calendar [portfolioStocks]="portfolioStocks"></app-portfolio-calendar>
                  </div>
                </div>
              </div>
              <div class="p-col-12">
                <div class="card product-list">
                  <div class="card-header">
                      <h6>Comments</h6>
                  </div>
                  <div>
                    <h6>Coming Soon!</h6>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <div class="p-col-12 p-md-12 p-xl-3">
            <div class="p-grid">
              <div class="p-col-12 p-md-6 p-xl-12">
                <app-copy-page-link></app-copy-page-link>
              </div>
              <!-- <div class="p-col-12 p-md-6 p-xl-12">
                <div class="card overview-box-1">
                  <div class="card-header">
                      <h6>Rate</h6>
                      <div class="header-buttons">
                        <a><i class="pi pi-share-alt"></i></a>
                    </div>
                  </div>
                  <div>
                    <p-rating [(ngModel)]="rating" [cancel]="false"></p-rating>
                  </div>
                </div>
              </div> -->
              <div class="p-col-12 p-md-6 p-xl-12">
                  <div class="card overview-box-1">
                      <div class="card-header">
                          <h6>Breakdowns</h6>
                          <div class="header-buttons">
                            <!-- TODO this icon needs PrimeNG 13 -->
                            <a href="#"><i class="pi pi-chart-pie"></i></a>
                          </div>
                          <!-- <p-dropdown [options]="portfolioBreakdownCategories" optionLabel="name" (onChange)="setPieChartItems($event)"></p-dropdown> -->
                      </div>
                      <div *ngIf="pieChartItems.length > 0">
                          <app-portfolio-breakdown-pie-chart [pieChartItems]="pieChartItems"></app-portfolio-breakdown-pie-chart>
                          <div class="p-mt-2" style="text-align: center;">
                            <p-dropdown [options]="portfolioBreakdownCategories" optionLabel="name" (onChange)="setPieChartItems($event)"></p-dropdown>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="p-col-12 p-md-6 p-xl-12">
                  <div class="card">
                      <div class="card-header">
                          <h6>Description</h6>
                      </div>
                      <div style="max-height:500px;margin:0;overflow:auto;">
                        <p>{{ portfolio?.description }}</p>
                        <p-scrollTop target="parent"></p-scrollTop>
                      </div>
                  </div>
              </div>
              <div class="p-col-12 p-md-6 p-xl-12">
                <div class="card">
                  <div class="card-header">
                    <h6>Stats</h6>
                  </div>
                  <div class="p-grid">
                    <div class="p-col-6">
                      <div class="p-mb-2" *ngIf="portfolioStocks"><small><b># of Holdings:</b> {{ portfolioStocks.length }}</small></div>
                      <div class="p-mb-2" *ngIf="iexStockDataMap"><small><b>Top 10 Weighting:</b> {{ calculateTopTenTotalWeighting().toFixed(2) }}%</small></div>
                      <div class="p-mb-2" *ngIf="iexStockDataMap"><small><b>Top Holding: </b><a routerLink="/stocks/{{ getLargestHolding() }}">{{ getLargestHolding() }}</a></small></div>
                      <div class="p-mb-2" *ngIf="iexStockDataMap"><small><b>Top Country: </b>{{ getHighestWeightedIexCloudValue('country') }}</small></div>
                      <div class="p-mb-2" *ngIf="iexStockDataMap"><small><b>Top Sector: </b>{{ getHighestWeightedIexCloudValue('sector') }}</small></div>
                    </div>
                    <div class="p-col-6">
                      <div class="p-mb-2" *ngIf="iexStockDataMap"><small><b>Dividend Yield:</b> {{ (calculateWeightedAvg('dividendYield') * 100).toFixed(2) }}%</small></div>
                      <div class="p-mb-2" *ngIf="iexStockDataMap"><small><b>Market Cap:</b> {{ calculateWeightedAvg('marketcap') | abbreviatedCurrencyFormatterPipe }}</small></div>
                      <div class="p-mb-2" *ngIf="iexStockDataMap"><small><b>P/E Ratio:</b> {{ calculateWeightedAvg('peRatio').toFixed(2) }}</small></div>
                      <div class="p-mb-2" *ngIf="iexStockDataMap"><small><b>Beta:</b> {{ calculateWeightedAvg('beta').toFixed(2) }}</small></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
