.example-container {
  // height: 270px;
  max-height: 350px;
  overflow: auto;
}

table {
  width: 100%;

  .invalid-total-weighting {
    color: #e61010;
  }

  .valid-total-weighting {
    color: #36d98d;
  }

  .delete-stock-row-btn:hover {
    color: #e61010;
  }
}

tr.mat-footer-row {
  font-weight: bold;
}

.mat-table-sticky {
  border-top: 1px solid #e0e0e0;
}
