<form class="example-form">
  <mat-form-field class="example-full-width stock-search-field" appearance="outline" [style.width.px]="300">
    <mat-icon matPrefix>search</mat-icon>
    <input
      matInput
      placeholder="{{ placeholder }}"
      aria-label="Stock"
      [matAutocomplete]="auto"
      [formControl]="stockCtrl"
    />
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectStock($event)">
      <!-- If loading stock search results, show loading indicator -->
      <mat-option disabled *ngIf="isLoading" class="is-loading">
        <mat-progress-bar mode="buffer"></mat-progress-bar>
      </mat-option>

      <!-- If loading has finished-->
      <ng-container *ngIf="!isLoading && filteredStocks && stockCtrl.value">
        <!-- If service has returned no results, show default message -->
        <mat-option disabled *ngIf="!filteredStocks.length">
          <small>No results found for "{{ stockCtrl.value }}"</small>
        </mat-option>
        <!-- Display actual stock search results -->
        <mat-option *ngFor="let stock of filteredStocks" [value]="stock">
          <mat-icon *ngIf="!redirect">add_box</mat-icon>
          <small><strong [innerHTML]="highlightMatchingSearchText(stockCtrl.value, stock.symbol)"></strong></small> |
          <small [innerHTML]="highlightMatchingSearchText(stockCtrl.value, stock.securityName)"></small> |
          <small>{{ stock.exchange }}</small>
        </mat-option>
      </ng-container>

      <!-- If timeout or other error occurred (filteredStocks will be null) -->
      <ng-container *ngIf="!isLoading && !filteredStocks && stockCtrl.value">
        <mat-option disabled>
          <small>An error occurred. Please try again!</small>
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>
</form>
