@use '../../../../../variables' as variables;

.row {
  display: flex;
  justify-content: space-between;

  .row-right {
    text-align: right;
  }
}

.portfolio-page-container {
  margin-bottom: 100px;

  .social-media-icons-container {
    margin-top: 10px;
    margin-bottom: 10px;

    img {
      margin-left: 10px;
      width: 30px !important;
      height: auto;
    }

    img:hover {
      cursor: pointer;
      filter: brightness(75%);
    }
  }

  .portfolio-save-btn {
    color: #cccaca;
  }

  .portfolio-save-btn:hover {
    cursor: pointer;
    color: #ff1c1c;
  }

  .portfolio-ratings-container {
    font-weight: bold;

    .mat-icon {
      vertical-align: middle;
      margin-right: 10px;
    }

    .portfolio-ratings-exist {
      ::ng-deep .mat-progress-bar-fill::after {
        background-color: #5fc96f !important;
      }

      ::ng-deep .mat-progress-bar-buffer {
        background-color: red !important;
      }
    }

    .portfolio-likes-container {
      margin-right: 25px;
    }

    #portfolio-like-icon,
    #portfolio-dislike-icon {
      color: #cccaca;
    }

    #portfolio-like-icon:hover {
      cursor: pointer;
      color: #5fc96f;
    }

    .user-liked {
      color: #5fc96f !important;
    }

    #portfolio-dislike-icon:hover {
      cursor: pointer;
      color: red;
    }

    .user-disliked {
      color: red !important;
    }

    // TODO: MAKE THE SIZE DYNAMIC WITH THE SIZE OF THE LIKES CONTAINER
    #portfolio-like-dislike-bar {
      margin-left: 200px;
      width: 110px;
    }
  }

  #portfolio-description-card {
    min-height: 135px;
  }

  .edit-portfolio-icon {
    color: #aaafbd;
    cursor: pointer;
    font-size: 18px;
    margin-left: 8px;
  }

  .edit-portfolio-icon:hover {
    filter: brightness(75%);
  }
}
