@use '../../../../variables' as variables;

#notfound-first-num {
  color: variables.$rms-green;
}

#notfound-second-num {
  color: variables.$rms-blue;
}

#notfound-last-num {
  color: variables.$rms-orange;
}
