<h1 style="text-align: center">
  <span class="page-header"><b>About Us</b></span>
</h1>
<br />
<div class="centered-container">
  <mat-card>
    <h2><b>Who We Are</b></h2>
    <p>
      ratemystocks.com is a community driven stock market research platform and investor social network founded in 2021.
      Our mission is bring investors, traders, and analysts of all experience levels together so that they may learn
      from one another as well as share opinions and strategies.
    </p>

    <h2><b>What We Offer</b></h2>
    <h4><b>Community-Driven Stock/ETF Analysis</b></h4>
    <p>
      We all have the common goal of becoming better investors, analysts, & traders. At ratemystocks.com, you can view
      user stock ratings as well as set your own. Discuss your favorite stocks & ETFs with other users around the world.
      Share your opinion, strategies, and export knowledge with a great community!
    </p>
    <h4><b>Portfolio Insights & Feedback</b></h4>
    <p>
      Easily create and share sample stock portfolios and receive feedback from investors around the world. Our user
      interface will provide insights into your holdings, displaying both real-time & historical stock data. For
      inspiration, users can search for portfolios that match their investing strategy. Our platform allows users to
      provide feedback on other users' portfolios through comments or rating.
    </p>
  </mat-card>
</div>
