<h1><span class="page-header"><b>About Us</b></span></h1>
<!-- <small>Test</small> -->
<!-- <mat-card></mat-card> -->
<mat-card>
  <h2><b>Who We Are</b></h2>
  <p>ratemystocks.com is a community driven stock market research platform and investor social network founded in 2021. Our mission is bring investors of all experience levels together so that they may learn from one another.</p>

  <h2><b>What We Offer</b></h2>
  <h4><b>Portfolio Insights & Feedback</b></h4>
  <p>Users can create and share sample stock portfolios and receive feedback from investors anywhere in the world. Our user interface will provide insights into your holdings, displaying both real-time & historical stock data. For inspiration, users can search for portfolios that match their investing strategy. Our platform allows users to provide feedback on other users' portfolios through comments or rating.</p>
  <h4><b>Community-Driven Stock/ETF Analysis</b></h4>
  <p></p>
</mat-card>
