<div class="icon-bar">
  <a class="facebook" (click)="shareOnSocialMedia(SocialMediaSite.FACEBOOK)"><i class="fa fa-facebook"></i></a>
  <a class="twitter" (click)="shareOnSocialMedia(SocialMediaSite.TWITTER)"><i class="fa fa-twitter"></i></a>
  <a class="linkedin" (click)="shareOnSocialMedia(SocialMediaSite.LINKEDIN)"><i class="fa fa-linkedin"></i></a>
  <a class="reddit" (click)="shareOnSocialMedia(SocialMediaSite.REDDIT)"><i class="fa fa-reddit"></i></a>
  <!-- <a class="comments"><i class="pi pi-comment" pBadge [value]="'34'" severity="danger" style="font-size: 2rem;"></i></a> -->
</div>
