// $bodyBgColor: linear-gradient(99deg, #000000 0%, #2f363e 100%) !default;
$bodyBgColor: black !default;
$textColor: #e5e8ec !default;
$textSecondaryColor: #cdd2db !default;

$contentBgColor: #171b25 !default;
$contentAltBgColor: #4e565f !default;
$dividerColor: #4e565f !default;

$menuTooltipBgColor: #1c202c !default;
$menuTooltipTextColor: #ffffff !default;

:root {
  --content-alt-bg-color: #{$contentAltBgColor};
}

@import './_layout_common';
