<table mat-table [dataSource]="dataSource" matSort>
  <!-- Logo Column -->
  <ng-container matColumnDef="logo">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element">
      <img
        class="stock-logo"
        src="https://storage.googleapis.com/iex/api/logos/{{ element.ticker }}.png"
        onerror="this.onerror=null; this.src='assets/images/question-mark-placeholder.png'"
      />
    </td>
  </ng-container>

  <!-- Ticker Column -->
  <ng-container matColumnDef="ticker">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Stock</th>
    <td mat-cell *matCellDef="let element">
      <a routerLink="/stocks/{{ element.ticker }}">
        <b>{{ element.ticker }}</b>
        <!-- <br />
        <small>{{ element.company }}</small> -->
      </a>
    </td>
  </ng-container>

  <!-- Rating Column -->
  <ng-container matColumnDef="rating">
    <th mat-header-cell *matHeaderCellDef>Rating</th>
    <td
      mat-cell
      *matCellDef="let element"
      [ngClass]="{
        'buy-stock-rating': element.stockRating.toUpperCase() === 'BUY',
        'hold-stock-rating': element.stockRating.toUpperCase() === 'HOLD',
        'sell-stock-rating': element.stockRating.toUpperCase() === 'SELL'
      }"
    >
      <span *ngIf="element.stockRating"
        ><b>{{ element.stockRating.toUpperCase() }}</b></span
      >
    </td>
  </ng-container>

  <!-- Last Updated Column -->
  <ng-container matColumnDef="lastUpdated">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Updated</th>
    <td mat-cell *matCellDef="let element">
      <small>{{ moment(element.lastUpdated).fromNow() }}</small>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
