td,
th {
  .stock-logo {
    margin-top: 5px;
    width: 40px !important;
    height: auto;
  }
}

.mat-column-logo {
  width: 10%;
}

.mat-column-rating {
  width: 40%;
}

.buy-stock-rating {
  color: #3ac961;
}

.hold-stock-rating {
  color: #c98b3a;
}

.sell-stock-rating {
  color: red;
}
