<table mat-table [dataSource]="dataSource">
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <!-- Likes Column -->
  <ng-container matColumnDef="num_likes">
    <th mat-header-cell *matHeaderCellDef>Likes</th>
    <td mat-cell *matCellDef="let element">{{ element.num_likes }}</td>
  </ng-container>

  <!-- Dislikes Column -->
  <ng-container matColumnDef="num_dislikes">
    <th mat-header-cell *matHeaderCellDef>Dislikes</th>
    <td mat-cell *matCellDef="let element">{{ element.num_dislikes }}</td>
  </ng-container>

  <!-- # of Holdings Column -->
  <ng-container matColumnDef="num_holdings">
    <th mat-header-cell *matHeaderCellDef># of Holdings</th>
    <td mat-cell *matCellDef="let element">{{ element.num_holdings }}</td>
  </ng-container>

  <!-- Largest Holding Column -->
  <ng-container matColumnDef="largest_holding">
    <th mat-header-cell *matHeaderCellDef>Largest</th>
    <td mat-cell *matCellDef="let element">
      <!-- <img
        class="stock-logo"
        src="https://storage.googleapis.com/iex/api/logos/{{ element.largest_holding }}.png"
      /> -->
      <a routerLink="/stocks/{{ element.largest_holding }}">{{ element.largest_holding }}</a>
    </td>
  </ng-container>

  <!-- Last Updated Column -->
  <ng-container matColumnDef="last_updated">
    <th mat-header-cell *matHeaderCellDef>Last Updated</th>
    <td mat-cell *matCellDef="let element"><small>{{  moment(element.last_updated).fromNow()  }}</small></td>
  </ng-container>

  <!-- Actions -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let element">
      <button mat-icon-button class="" matTooltip="View this portfolio" routerLink="/portfolios/{{ element.id }}">
        <mat-icon>preview</mat-icon>
      </button>
      <button mat-icon-button class="" matTooltip="Edit this portfolio" *ngIf="isAuth && user.id === loggedInUserId">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button class="" matTooltip="Delete this portfolio" *ngIf="isAuth && user.id === loggedInUserId">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

