<div class="container">
  <div>
    <textarea pInputText maxlength="500" style="width: 100%;" rows="4" class="p-mb-2"></textarea>
  </div>
  <p-button label="Post" class="p-button-text"></p-button>

  <div class="p-mt-3 centered-content" style="display: flex; justify-content: space-between;">
    <div><small>Showing <b>{{ commentsLoaded }}</b> of <b>{{ totalCommentsLength }}</b> Comments</small></div>
    <div>
      <p-dropdown placeholder="Sort By" [options]="sortOptions" [(ngModel)]="selectedSortOption" optionLabel="displayValue"></p-dropdown>
    </div>
  </div>

  <p-divider></p-divider>

  <app-infinite-scroll (scrolled)="onScroll()" style="height: 600px; overflow-y: auto">
    <!-- TODO: Make a Comment component -->
    <div *ngFor="let comment of comments">
      <div class="product-item">
        <div>
          <!-- <img src="assets/layout/images/avatars/{{comment.avatar}}.png" > -->
          <img src="{{ comment.avatar }}" style="border-radius: 50%;">
        </div>
        <div class="product-list-detail">
          <p class="p-mb-1">
            <b>{{comment.username}}</b> &nbsp;
            <small> {{ comment.datetime | momentFromNowDatePipe }}</small>
            <p-chip label="BUY" styleClass="p-ml-2 buy-rating-chip"></p-chip>
          </p>
          <small>{{ comment.comment }}</small>
          <div class="p-mt-3">
            <i class="pi pi-thumbs-up p-mr-3"></i>
            <i class="pi pi-thumbs-down p-mr-3"></i>
            <small><a>REPLY</a></small>
          </div>
        </div>
      </div>
      <p-divider></p-divider>
    </div>

    <p-scrollTop target="parent"></p-scrollTop>

    <div class="alert alert-dark"*ngIf="isLoading">
      <p-progressBar mode="indeterminate"></p-progressBar>
    </div>
  </app-infinite-scroll>
</div>

<p-confirmPopup></p-confirmPopup>
