/* You can add global styles to this file, and also import other style files */
$gutter: 1rem; //for primeflex grid system

@use './assets/sass/variables/_variables' as variables;

@import 'primeng/resources/primeng.min.css';
@import 'primeflex/primeflex.scss';
@import 'primeicons/primeicons.css';
@import 'prismjs/themes/prism-coy.css';
@import '@fullcalendar/daygrid/main.min.css';
@import '@fullcalendar/timegrid/main.min.css';
@import 'assets/demo/flags/flags.css';

/** Global Styles */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightslategray;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkslategray;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

mark {
  background-color: white !important;
  color: variables.$rms-green !important;
  // margin: 0px !important;
}

/** Custom Classes */
.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.vertically-and-horizontally-centered {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.centered-content {
  display: flex !important;
  align-items: center !important;
}

.page-header {
  display: inline-block;
  border-bottom: 4px solid variables.$rms-green;
  padding-bottom: 2px;
}

.sticky {
  position: -webkit-sticky;
  position: sticky !important;
  top: 0;
}

td,
th {
  .stock-logo {
    width: 40px !important;
    height: auto;
    margin: 10px;
  }

  .stock-logo-small {
    width: 30px !important;
    height: auto;
    margin: 5px;
  }
}

.clickable {
  cursor: pointer;
  &:hover {
    color: #7a7a79;
  }
}

/** PrimeNG Overrides */
.p-invalid {
  color: red !important;
}

:host ::ng-deep .custom-spinner .p-progress-spinner-circle {
  animation: custom-progress-spinner-dash 1.5s ease-in-out infinite,
    custom-progress-spinner-color 6s ease-in-out infinite;
}

@keyframes p-progress-spinner-color {
  100%,
  0% {
    stroke: variables.$rms-green;
  }
  40% {
    stroke: variables.$rms-orange;
  }
  66% {
    stroke: variables.$rms-blue;
  }
  80%,
  90% {
    stroke: variables.$rms-green;
  }
}
