/* You can add global styles to this file, and also import other style files */
$gutter: 1rem; //for primeflex grid system

@use './assets/sass/variables/_variables' as variables;

@import 'primeng/resources/primeng.min.css';
@import 'primeflex/primeflex.scss';
@import 'primeicons/primeicons.css';
@import 'prismjs/themes/prism-coy.css';
@import '@fullcalendar/daygrid/main.min.css';
@import '@fullcalendar/timegrid/main.min.css';
@import 'assets/demo/flags/flags.css';

/** Global Styles */
a:hover {
  text-decoration: none;
  cursor: pointer;
}

/** Global Classes */
.page-header {
  display: inline-block;
  border-bottom: 4px solid variables.$rms-green;
  padding-bottom: 2px;
}

/** PrimeNG Overrides */
.p-invalid {
  color: red !important;
}
// p-input.ng-dirty.ng-invalid,
// p-input.ng-touched.ng-invalid {
//   border: 1px solid red !important;
// }
