$rms-green: #549e58;
$rms-blue: #62a8e5;
$rms-orange: #f68d2e;

// Text Colors
$primary-text-color: #6e7175;

// Element Colors
$primary-site-color: #75b5aa;
$input-field-background-color: #fbfbfb;

// Fonts
$primary-font-family: Roboto, 'Helvetica Neue', sans-serif;

// Screen Sizes
$mobile-screen-size-max-width: 768px;
